section.news-main
	.news-main__body
		.news-main__body__item.wide-news
			h3 Yandex продемонстрировал технологию защиты юзеров Я.Браузера
			img(src="")
			.news-main__body__news-group
				.news-main__body__news-group__column
					.news-main__body__item
						h3 Благодарность от фонда "Милосердие детям"
						time(datetime="") 5 апреля 2016
						img(src="")
						p Медиа-монстр TNS проанализировал, к чему склонны жители РФ в использовании поисковых систем. Под пристальное внимание попали крупные города с населением больше 700 тысяч человек. Возрастная категория пользователей — 12-64 года.
					.news-main__body__item
						h3 В октябре мы запускаем наш новый сайт
						time(datetime="") 5 апреля 2016
						img(src="")
						p Медиа-монстр TNS проанализировал, к чему склонны жители РФ в использовании поисковых систем. Под пристальное внимание попали крупные города с населением больше 700 тысяч человек. Возрастная категория пользователей — 12-64 года.
					.news-main__body__item
						h3 Yandex продемонстрировал технологию защиты юзеров Яндекс.Браузера
						time(datetime="") 5 апреля 2016
						img(src="")
						p Медиа-монстр TNS проанализировал, к чему склонны жители РФ в использовании поисковых систем. Под пристальное внимание попали крупные города с населением больше 700 тысяч человек. Возрастная категория пользователей — 12-64 года.
				.news-main__body__news-group__column
					.news-main__body__item
						h3 Окончание работ по сайту
						time(datetime="") 5 апреля 2016
						img(src="")
						p Медиа-монстр TNS проанализировал, к чему склонны жители РФ в использовании поисковых систем. Под пристальное внимание попали крупные города с населением больше 700 тысяч человек. Возрастная категория пользователей — 12-64 года.
					.news-main__body__item
						h3 Открыта вакансия веб-дизайнера
						time(datetime="") 5 апреля 2016
						img(src="")
						p Медиа-монстр TNS проанализировал, к чему склонны жители РФ в использовании поисковых систем. Под пристальное внимание попали крупные города с населением больше 700 тысяч человек. Возрастная категория пользователей — 12-64 года.
					.news-main__body__item
						h3 Компании исполнилось 7 лет!
						time(datetime="") 5 апреля 2016
						img(src="")
						p Медиа-монстр TNS проанализировал, к чему склонны жители РФ в использовании поисковых систем. Под пристальное внимание попали крупные города с населением больше 700 тысяч человек. Возрастная категория пользователей — 12-64 года.
