section.about-service-web
	h2 Об услуге
	.break-line
	p Здесь соответсвующий текст. Медиа-монстр TNS проанализировал, к чему склонны жители РФ в использовании поисковых систем. Под пристальное внимание попали крупные города с населением больше 700 тысяч человек. Возрастная категория пользователей — 12-64 года.
	.btn-block
		a(href="") Заказать стратегию
		a(href="") Рассчитать стоимость
