section.main-tasks
	h2 Основные задачи
	.break-line
	.main-tasks__body
		.main-tasks__body__item
			img(src="")
			h6 Привлечь к сотрудничеству дизайнеров
		.main-tasks__body__item
			img(src="")
			h6 Повысить позиции сайта в поисковых системах по ключевым запросам
		.main-tasks__body__item
			img(src="")
			h6 Увеличить продажи с сайта
		.main-tasks__body__item
			img(src="")
			h6 Выявить все ошибки в работе сайта и составить техническое задание на их исправление
