section.srategy-develop
	.srategy-develop__body
		p
			span Результаты поисковой оптимизации
			|  убеждают нас, что клиенты довольны и имеют хороший опыт.
		p
			span Постоянное продвижение с помощью SEO привлекает
			|  все больше клиентов, и если они удовлетворены качеством ваших продуктов и услуг,
			span  они продолжают возвращаться за ними на ваш сайт.
		p Работы по продвижению сайта, если они проведены качественно имею долгосрочные результаты. Это позволяет существенно сократить бюджет на контекстную рекламу.
	button.btn.btn-bluegreen Разработать стратегию
