section.block-reviews.one-review
	h2 Отзыв клиента
	.break-line
	.block-reviews__slider__body__item
		.block-reviews__slider__body__item__img
			img(src="assets/images/main/reviews/photo.png")
		h4 Владислав Смирнов
			span Диретор компании
		p За короткие сроки и в условиях соблюдения жестких стандартов брендов Toyota и Lexus компании "Развитие" удалось поднять позиции продвигаемых сайтов в основных поисковых системах. Профессионализм сотрудников компании "Развитие" вызывает уважение. Компания соблюдает все обязательства и сроки, результат...
			a(href="/").read-mail Читать благодарственное письмо
