section(style="background-image: url();").situation-before
	h2 Ситуация до сотрудничества
	.break-line
	p На момент обращения у клиента был сайт, который необходимо было доработать, а также повысить позиции сайта в поисковых системах.
