section.short-period
	h2 Высокие результаты за короткий период
	.break-line
	p Вводный текст. Мы видим свою задачу в том, чтобы разработать для клиента стратегию с оптимальными затратами, которая принесёт максимальную прибыль.
	.short-period__body
		.short-period__body__item
			p.short-period__body__item__header
				span Средняя посещемость сайта
				| 150 человек в день
			img(src="")
		.short-period__body__item
			p.short-period__body__item__header Конверсия от 2,53%
			img(src="")
		.short-period__body__item
			p.short-period__body__item__header
				span Более 70 запросов
				| в ТОП 10 Яндекс
			img(src="")
			p поисковых системы
				br
				| Яндекс
