section.work-process
	h2 Процесс работы
	.break-line
	.work-process__body
		.work-process__body__top
			p Прототипирование страниц для текущей версии сайта.
			p
				span Апрель 2015
				|  начало SEO продвижения по 100 ключевым запросам.
		.work-process__body__middle
			p 1
			p 2
			p 3
			p 4
		.work-process__body__bottom
			p Составление технического задания на исправление ошибок на сайте. Контроль выполнения.
			p
				span Март 2015
				|  настройка и ведение рекламных кампаний в Яндекс Директ и Google Adwords.
	p.work-process__text-under Запуск контекстной рекламы в Яндекс и Google позволил сразу в короткие сроки привлечь заинтересованных посетителей на сайт. С ростом позиций бюджет на контекстную рекламу посетепенно сокращался. На данный контекстная реклама не задействована.
