section.about-client
	h2 О клиенте
	.break-line
	p Интерьерная компания Ermika существует с 1996 года.  На сайте компании представлен широкий выбор декоративных отделочных материалов, которые можно заказать, не выходя из дома.
		|  Интерьерные салоны компании расположены в Санкт-Петербурге, Москве и Нижнем Новгороде.
