section(style="background-image: url();").situation-before
	h2 Ситуация до сотрудничества
	.break-line
	p На момент обращения клиент занимался SEO продвижением сайта с другой компанией. Результаты, которые были получены не устраивали. Поэтому было принято решение сменить подрядчика. С нашей стороны было сделано предложение оплаты по факту нахождения ключевых слов в ТОП 10.
