section.short-period
	h2 Результаты, которые выделяются
	.break-line
	p Вводный текст. Мы видим свою задачу в том, чтобы разработать для клиента стратегию с оптимальными затратами, которая принесёт максимальную прибыль.
	.short-period__body
		.short-period__body__item
			p.short-period__body__item__header
				span Видимость сайта в поисковых системах за квартал
				| увеличена на 18%
			img(src="")
			.short-period__body__item__footer
				p Качественное SEO
		.short-period__body__item
			p.short-period__body__item__header На 12 % больше
				span отправленных форм обратной связи с сайта по сравнению с предыдущим кварталом.
			img(src="")
			.short-period__body__item__footer
				p Юзабилит и сайта
		.short-period__body__item
			p.short-period__body__item__header
				span Более 140 продвигаемых запросов в
				|  ТОП 10
			img(src="")
			.short-period__body__item__footer
				p Качественный контент
		.short-period__body__item
			p.short-period__body__item__header 28398 визитов
				span на сайт за последний месяц!
			img(src="")
			.short-period__body__item__footer
				p Узнаваемость бренда
