section.work-process
	h2 Процесс работы
	.break-line
	.work-process__body
		.work-process__body__top
			p Оптимизация страниц сайта под поисковые запросы
			p Выявление и правка орфографии на сайте
		.work-process__body__middle
			p 1
			p 2
			p 3
			p 4
			p 5
		.work-process__body__bottom
			p Технический аудит сайта, выявление ошибок в работе сайта, мешающие продвижению
			p Настройка социальных факторов
			p Работа с репутацией Компании в интернете
