section.srategy-develop
	.srategy-develop__body
		p Большая часть поисковой оптимизации убеждает нас, что
			span  клиенты довольны
			|  и имеют хороший опыт.
		p
			span Лучший ROI и постоянное продвижение
			|  с помощью SEO привлекает все больше клиентов, и если они удовлетворены качеством ваших продуктов и услуг, они
			span  продолжают возвращаться
			|  за ними на ваш сайт.
		p Маркетинговая стратегия считается успешной только в том случае, если результаты могут быть измерены.  Результаты, полученные в ходе SEO оптимизации,
			span  можно легко измерить с помощью онлайн-инструментов.
	button.btn.btn-bluegreen Разработать стратегию
