section.about-client
	h2 О клиенте
	.break-line
	p Концерн Лемминкяйнен- многопрофильная компания. ОАО "Lemminkanen" (Lemminkäinen Oyj) - это крупный строительный концерн, осуществляющий свою деятельность в Финляндии и за ее пределами. Компания "Лемминкяйнен" была основана в 1910 году в Хельсинки, как асфальтовое акционерное общество. Объем продаж концерна Лемминкяйнен за 2014 г. составил 2 млрд. евро. В концерне работает около 5600 человек.
