section.main-tasks
	h2 Основные задачи
	.break-line
	p Продвижение сайта по трем основным направлениям (с оплатой за результат):
	.main-tasks__body
		.main-tasks__body__item
			img(src="")
			h6 жилищное строительство
		.main-tasks__body__item
			img(src="")
			h6 дорожное строительство
		.main-tasks__body__item
			img(src="")
			h6 индустриальный парк
