section.project-main
	a.projects-nav.previous
		img(src="")
		p Предыдущий
			br
			| проект
	a.projects-nav.next
		img(src="")
		p Следующий
			br
			| проект
	.project-main__slider
		a.project-main__slider__arrows.left
		a.project-main__slider__arrows.right
		.project-main__slider__body
			div
				.project-main__slider__body__item
					.project-main__slider__body__item__icons
						a.ic-1
							img(src="")
							p Наименование проекта
						a.ic-2
							img(src="")
							p Наименование проекта
						a.ic-3
							img(src="")
							p Наименование проекта
						a.ic-4
							img(src="")
							p Наименование проекта
					.project-main__slider__body__item__photo
						img(src="")
					.project-main__slider__body__item__info
						p
							span ОПИСАНИЕ ПРОЕКТА, ЭТАПЫ. ЕСЛИ ПРОЕКТ - ЧАСТЬ КЕЙСА - ССЫЛКА НА КЕЙС
							|  consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
							|  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
							|  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
							|  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
						a.project-main__slider__body__item__info__more-info
					button.btn.btn-red Посмотреть кейс
