section.form-order-project
	form(action="" method="POST").feedback
		input(type="text" name="name" placeholder="Ваше имя").feedback__name
		input(type="text" name="phone" placeholder="Номер телефона").feedback__phone
		textarea(name="message" placeholder="Кратко опишите задачу").feedback__message
		input(type="submit" value="Заказать проект").btn.btn-bluegreen
