section.list
	form(action='', method='')
		select.select-service
			option(disabled='') Выберите услугу
			option(value='Услуга1') Услуга1
			option(value='Услуга2') Услуга2
			option(value='Услуга3') Услуга3
			option(value='Услуга4') Услуга4
		select.select-sector
			option(disabled='') Выберите отрасль
			option(value='Отрасль1') Отрасль1
			option(value='Отрасль2') Отрасль2
			option(value='Отрасль3') Отрасль3
			option(value='Отрасль4') Отрасль4
		select.select-year
			option(disabled='') Год реализации
			option(value='Год реализации1') Год реализации1
			option(value='Год реализации2') Год реализации2
			option(value='Год реализации3') Год реализации3
			option(value='Год реализации4') Год реализации4
