.block-hww
	background #ecf0f1
	text-align center
	padding 40px 0
	p
		color #6e6e6e
		line-height 2
	&__icon-block
		display flex
		flex-flow row wrap
		align-items flex-start
		justify-content center
		margin-top 30px
		&__item
			width 200px
			margin 0 5px
			p
				line-height 1.5
				font-size 15px
			span
				font-weight 700
				text-transform uppercase
			&__img
				margin-bottom 10px
				img
					&:hover
						transform scale(1.2)
						transition 0.5s
.color-green
	color #b5da36
.color-yellow
	color #f3bc33
.color-red
	color #ec4b52
.color-violet
	color #956da1
.color-siren
	color #8f97e2
.color-bluegreen
	color #75c7b1
