section.adv-main
	.adv-main__body
		.adv-main__body__item
			.adv-main__body__item__header
				.adv-main__body__item__header__date
					p 05
						span окт
				.adv-main__body__item__header__text
					h3 Российские пользователи мобильного интернета предпочитают Google
					.adv-club__body__keywords
						a Маркетинг
						a Дизайн
						a Конверсия
			p Медиа-монстр TNS проанализировал, к чему склонны жители РФ в использовании поисковых систем. Под пристальное внимание попали крупные города с населением больше 700 тысяч человек. Возрастная категория пользователей — 12-64 года.
		.adv-main__body__item
			.adv-main__body__item__header
				.adv-main__body__item__header__date
					p 01
						span окт
				.adv-main__body__item__header__text
					h3 Российские пользователи мобильного интернета предпочитают Google
					.adv-club__body__keywords
						a Маркетинг
						a Дизайн
						a Конверсия
			p Медиа-монстр TNS проанализировал, к чему склонны жители РФ в использовании поисковых систем. Под пристальное внимание попали крупные города с населением больше 700 тысяч человек. Возрастная категория пользователей — 12-64 года.
		.adv-main__body__item
			.adv-main__body__item__header
				.adv-main__body__item__header__date
					p 26
						span сен
				.adv-main__body__item__header__text
					h3 Российские пользователи мобильного интернета предпочитают Google
					.adv-club__body__keywords
						a Маркетинг
						a Дизайн
						a Конверсия
			p Медиа-монстр TNS проанализировал, к чему склонны жители РФ в использовании поисковых систем. Под пристальное внимание попали крупные города с населением больше 700 тысяч человек. Возрастная категория пользователей — 12-64 года.
		.adv-main__body__item
			.adv-main__body__item__header
				.adv-main__body__item__header__date
					p 14
						span сен
				.adv-main__body__item__header__text
					h3 Российские пользователи мобильного интернета предпочитают Google
					.adv-club__body__keywords
						a Маркетинг
						a Дизайн
						a Конверсия
			p Медиа-монстр TNS проанализировал, к чему склонны жители РФ в использовании поисковых систем. Под пристальное внимание попали крупные города с населением больше 700 тысяч человек. Возрастная категория пользователей — 12-64 года.

	include block-new-publications
