.new-publications
	h3 Новые публикации
	.new-publications__body
		.new-publications__body__item
			p Алгоритм АГС от Яндекса стал жестче
		.new-publications__body__item
			p Yandex продемонстрировал технологию защиты юзеров Я.Браузера
		.new-publications__body__item
			p Google держит под контролем 64 % поискового рынка Америки
		.new-publications__body__item
			p Российские пользователи мобильного интернета предпочитают Google
		.new-publications__body__item
			p Алгоритм АГС от Яндекса стал жестче
		.new-publications__body__item
			p Yandex продемонстрировал технологию защиты юзеров Я.Браузера
		.new-publications__body__item
			p Google держит под контролем 64 % поискового рынка Америки
		.new-publications__body__item
			p Российские пользователи мобильного интернета предпочитают Google
