section.promotion-sitetype
	h2 Что мы делаем
	.break-line
	p Вводный текст. Мы видим свою задачу в том, чтобы разработать для клиента стратегию с оптимальными затратами, которая принесёт максимальную прибыль.
	.promotion-sitetype__body
		.promotion-sitetype__body__item
			img(src="")
			h5.color-green Бизнес-сайт
				span  от 150 тысяч
			p Здесь краткий текст, соответсвующий заголовку
		.promotion-sitetype__body__item
			img(src="")
			h5.color-yellow Промо-сайт
				span  от 100 тысяч
			p Здесь краткий текст, соответсвующий заголовку
		.promotion-sitetype__body__item
			img(src="")
			h5.color-red Интернет-магазин
				span  от 200 тысяч
			p Здесь краткий текст, соответсвующий заголовку
		.promotion-sitetype__body__item
			img(src="")
			h5.color-violet Корпоративный сайт
				span  от 150 тысяч
			p Здесь краткий текст, соответсвующий заголовку
