section.advantages
	h2 Преимущества
	.break-line
	p Мы создаём полноценный рабочий маркетинговый инструмент (ваш отдел продаж, 24/7), а не сайт “на коленке”.
	a.advantages__wants-url Хотите дёшево и сердито?
	.advantages__body
		.advantages__body__item
			h4.color-violet Цена и качество
			p Чтобы из целевых посещений вы получали максимум обращений, мы оптимизируем структуру сайта и улучшаем контент на посадочных страницах. Чтобы из целевых... >
		.advantages__body__item
			h4.color-bluegreen Результативность
			p Чтобы из целевых посещений вы получали максимум обращений, мы оптимизируем структуру сайта и улучшаем контент на посадочных страницах.
		.advantages__body__item
			h4.color-yellow Работает!
			p Чтобы из целевых посещений вы получали максимум обращений, мы оптимизируем структуру сайта и улучшаем контент на посадочных страницах. Чтобы из целевых... >
		.advantages__body__item
			h4.color-green Уникальность
			p Чтобы из целевых посещений вы получали максимум обращений, мы оптимизируем структуру сайта и улучшаем контент на посадочных страницах. Чтобы из целевых посещений вы получали максимум обращений, мы оптимизируем структуру сайта и улучшаем контент на посадочных страницах.
		.advantages__body__item
			h4.color-siren Легко
			p Чтобы из целевых посещений вы получали максимум обращений, мы оптимизируем структуру сайта и улучшаем контент на посадочных страницах. Чтобы из целевых... >
		.advantages__body__item
			h4.color-red Перспективно
			p Чтобы из целевых посещений вы получали максимум обращений, мы оптимизируем структуру сайта и улучшаем контент на посадочных страницах.
