section.your-team
	h2 Ваша команда
	.break-line
	p Вводный текст. Мы видим свою задачу в том, чтобы разработать для клиента стратегию с оптимальными затратами, которая принесёт максимальную прибыль.
	.your-team__body
		.your-team__body__item
			.your-team__body__item__photo
				img(src="")
			h6 Имя Фамилия
			p должность
		.your-team__body__item
			.your-team__body__item__photo
				img(src="")
			h6 Имя Фамилия
			p должность
		.your-team__body__item
			.your-team__body__item__photo
				img(src="")
			h6 Имя Фамилия
			p должность
		.your-team__body__item
			.your-team__body__item__photo
				img(src="")
			h6 Имя Фамилия
			p должность
	.btn-block
		a(href="") Начать работу
		a(href="") Подробнее о нас
