section.hww-road
	h2 Как мы работаем?
	.break-line
	.hww-road__body
		.hww-road__body__purposes
			h5.color-red Цель
			p Здесь краткий текст, соответсвующий заголовку, занимает 2-4 строки
		.hww-road__body__analysis
			h5.color-violet Анализ
			p Здесь краткий текст, соответсвующий заголовку, занимает 2-4 строки
		.hww-road__body__content
			h5.color-bluegreen Сбор контента
			p Здесь краткий текст, соответсвующий заголовку, занимает 2-4 строки
		.hww-road__body__project
			h5.color-yellow Проектирование
			p Здесь краткий текст, соответсвующий заголовку, занимает 2-4 строки
		.hww-road__body__marketing
			h5 Комплексный маркетинг
			p Здесь краткий текст, соответсвующий заголовку, занимает 2-4 строки
			a(href="/") смотреть результат
		.hww-road__body__design
			h5.color-green Дизайн
			p Здесь краткий текст, соответсвующий заголовку, занимает 2-4 строки
		.hww-road__body__research
			h5.color-green Исследование
			p Здесь краткий текст, соответсвующий заголовку, занимает 2-4 строки
		.hww-road__body__study
			h5.color-violet Обучение
			p Здесь краткий текст, соответсвующий заголовку, занимает 2-4 строки
		.hww-road__body__test
			h5.color-red Тестирование и отладка
			p Здесь краткий текст, соответсвующий заголовку, занимает 2-4 строки
		.hww-road__body__programming
			h5.color-siren Программирование
			p Здесь краткий текст, соответсвующий заголовку, занимает 2-4 строки
