section.block-bank
	h2 Комплексные решения
	.break-line
	.block-bank__content
		.block-bank__content__part
			.block-bank__content__part__row
				p.block-bank__content__part__row__left ИНН
				p.block-bank__content__part__row__right 7842413040
			.block-bank__content__part__row
				p.block-bank__content__part__row__left КПП
				p.block-bank__content__part__row__right 784201001
			.block-bank__content__part__row
				p.block-bank__content__part__row__left Филиал
				p.block-bank__content__part__row__right "Северная столица"
			.block-bank__content__part__row
				p.block-bank__content__part__row__left Банк
				p.block-bank__content__part__row__right ЗАО "Райффайзенбанк" г.Санкт-Петербург
			.block-bank__content__part__row
				p.block-bank__content__part__row__left Корр/сч
				p.block-bank__content__part__row__right 30101810100000000723
			.block-bank__content__part__row
				p.block-bank__content__part__row__left Расчетный счет
				p.block-bank__content__part__row__right 40702810303000430142
			.block-bank__content__part__row
				p.block-bank__content__part__row__left БИК
				p.block-bank__content__part__row__right 044030723
		.block-bank__content__part
			p ООО "Развитие"
				br
				| Почтовый адрес:
				br
				| 191119, Россия, Санкт-Петербург, ул. Константина Заслонова, 7
				span 8 (812) 702-82-22
			a(href="mailto: info@raz-vitie.ru") info@raz-vitie.ru
