include ../helpers/variables
include ../helpers/mixins

doctype html

html(lang='ru')
	include ../blocks/head

	body#topUrl
		block content

		include ../blocks/footer

		block scripts
			include ../blocks/scripts
