section.work-process
	h2 Процесс работы
	.break-line
	.work-process__body
		.work-process__body__top
			p
				span В октябре 2012
				|  семантическое ядро было расширено.
			p
				span  6 июня 2013 года клиент
				|  передал нам развитие и
				| ведение группы Вконтакте.
			p
				span Январь 2014 года
				|  индивидуальная
				| разарботка нового дизайна
				| сайта new.mebelmarket.su
		.work-process__body__middle
			p 1
			p 2
			p 3
			p 4
			p 5
			p 6
			p 7
		.work-process__body__bottom
			p На основе проведенного исследования ЦА и конкурентной среды, было составлено семантическое ядро для продвижения сайта.
			p Регулярные доработки до сайту, с целью повышения конверсии и удобства использования.
			p
				span В ноябре 2013 года сайт
				|  mebelmarket.su был добвлени
				| в Яндекс.Каталог.
			p
				span 7 августа 2015
				|  - расширение
				| семантического ядра.
