section.srategy-develop
	.srategy-develop__body
		p Сайт - это не просто страница в интернете. Это площадка, которая способна продавать 24 часа в сутки 7 дней в неделю. Веб-ресурс должен соответствовать высокому качеству. Пользователь, пришедший на сайт, должен увидеть удобную структуру, где быстро и без усилий можно найти все, что интересует. Без оптимизационных работ весь  замысел с многочисленными мероприятиями и прогнозированием пресдостоящец прибыли може не иметь никакого смысла. Продвижение сайта - это занятие топовых позиций в выдаче поисковых систем, что дает гарантию хорошего потока клиентов.
	button.btn.btn-bluegreen Разработать стратегию
