section.main-tasks
	h2 Основные задачи
	.break-line
	.main-tasks__body
		.main-tasks__body__item
			img(src="")
			h6 Увеличить посещаемость сайта
		.main-tasks__body__item
			img(src="")
			h6 Раскрутка группы Вконтакте
		.main-tasks__body__item
			img(src="")
			h6 увеличить количество заказов с сайта
