section.visitors
	h2 Посетители
	.break-line
	.visitors__body
		.visitors__body__img
			img(src="")
		.visitors__body__info
			.visitors__body__info__item
				p
					span Май 2012 года
					| 747 визитов на сайт
			.visitors__body__info__item
				p
					span Октябрь 2012 года
					| 10627 визитов на сайт
			.visitors__body__info__item
				p
					span Январь 2013 года
					| 21676 визитов на сайт
			.visitors__body__info__item
				p
					span Ноябрь 2013 года
					| 51981 визитов на сайт
			.visitors__body__info__item
				p
					span Декабрь 2014 года
					| 78450 визитов на сайт
			.visitors__body__info__item
				p
					span Март 2016 года
					| 90745 визитов на сайт
