section(style="background-image: url();").situation-before
	h2 Ситуация до сотрудничества
	.break-line
	p Клиент обратился к нам в июле 2012 года со своим новым сайтом. Посещаемость сайта была около 20 человек в день. Необходимо было продвижение сайта и ведение группы Вконтакте.
