section.block-reviews
	h2 Заказчики о нас
	.break-line
	.block-reviews__logos
		+review-logos('cola2', 'cola')
		+review-logos('e-rossiya2', 'e-rossiya')
		+review-logos('gill2', 'gill')
		+review-logos('luk2', 'luk')
		+review-logos('mts2', 'mts')
		+review-logos('cola2', 'cola')
		+review-logos('e-rossiya2', 'e-rossiya')
		+review-logos('gill2', 'gill')
		+review-logos('luk2', 'luk')
		+review-logos('mts2', 'mts')
	.block-reviews__slider
		a.block-reviews__slider__arrows.left
		a.block-reviews__slider__arrows.right
		.block-reviews__slider__body
			div
				.block-reviews__slider__body__item
					.block-reviews__slider__body__item__img
						img(src="assets/images/main/reviews/photo.png")
					h4 Владислав Смирнов
						span Диретор компании
					p За короткие сроки и в условиях соблюдения жестких стандартов брендов Toyota и Lexus компании "Развитие" удалось поднять позиции продвигаемых сайтов в основных поисковых системах. Профессионализм сотрудников компании "Развитие" вызывает уважение. Компания соблюдает все обязательства и сроки, результат...
						a(href="/") Смотреть весь отзыв >
	button.btn.btn-red Все отзывы
