section.block-hww
	h2 Как мы работаем
	.break-line
	p Мы видим свою задачу в том, что бы разработать для клиента стратегию
		br
		| с оптимальными затратами, которая принесет масимальную прибыль.
		br
		| Увеличение Вашей прибыли - наша главная цель!
	.block-hww__icon-block
		.block-hww__icon-block__item
			.block-hww__icon-block__item__img
				img(src="assets/images/main/icon-how-we-work/1.png")
			p
				span.color-green 6 лет
				|  опыта
		.block-hww__icon-block__item
			.block-hww__icon-block__item__img
				img(src="assets/images/main/icon-how-we-work/2.png")
			p Сертифицированный партнер
				span.color-yellow  BITRIX
		.block-hww__icon-block__item
			.block-hww__icon-block__item__img
				img(src="assets/images/main/icon-how-we-work/3.png")
			p
				span.color-red БОЛЕЕ 500
				|  успешно реализованных проектов
		.block-hww__icon-block__item
			.block-hww__icon-block__item__img
				img(src="assets/images/main/icon-how-we-work/4.png")
			p Авторизированное агенство
				span.color-violet  Яндекс
		.block-hww__icon-block__item
			.block-hww__icon-block__item__img
				img(src="assets/images/main/icon-how-we-work/5.png")
			p Авторизированное агенство
				span.color-siren  вконтакте
		.block-hww__icon-block__item
			.block-hww__icon-block__item__img
				img(src="assets/images/main/icon-how-we-work/6.png")
			p Входим в
				span.color-bluegreen  топ-рейтинг
				|  лучших Российских студий
