section.portfolio
	.portfolio__body
		.portfolio__body__column
			.portfolio__body__column__item.portfolio__item
				img(src="assets/images/main/portfolio/1.png")
				.portfolio__item__hidden-block
					.portfolio__item__hidden-block__left
						a.portfolio__item__hidden-block__left__ic1
						a.portfolio__item__hidden-block__left__ic2
						a.portfolio__item__hidden-block__left__ic3
						a.portfolio__item__hidden-block__left__ic4
					.portfolio__item__hidden-block__right
						h5 PRIMO
						p Мировой поставщих экструдированных пластмассовых профилей. Увеличение трафика в два разаза полгода на рынке северо-запада.
						button.btn.btn-red Подробнее
			.portfolio__body__column__item.portfolio__item
				img(src="assets/images/main/portfolio/5.png")
				.portfolio__item__hidden-block
					.portfolio__item__hidden-block__left
						a.portfolio__item__hidden-block__left__ic1
						a.portfolio__item__hidden-block__left__ic2
						a.portfolio__item__hidden-block__left__ic3
						a.portfolio__item__hidden-block__left__ic4
					.portfolio__item__hidden-block__right
						h5 PRIMO
						p Мировой поставщих экструдированных пластмассовых профилей. Увеличение трафика в два разаза полгода на рынке северо-запада.
						button.btn.btn-red Подробнее
		.portfolio__body__column
			.portfolio__body__column__item.portfolio__item
				img(src="assets/images/main/portfolio/2.png")
			.portfolio__body__column__item.portfolio__item
				img(src="assets/images/main/portfolio/6.png")
	.portfolio__body
		.portfolio__body__row
			.portfolio__body__row__item.portfolio__item
				img(src="assets/images/main/portfolio/3.png")
			.portfolio__body__row__item.portfolio__item
				img(src="assets/images/main/portfolio/4.png")
		.portfolio__body__row
			.portfolio__body__row__item.portfolio__item
				img(src="assets/images/main/portfolio/7.png")
			.portfolio__body__row__item.portfolio__item
				img(src="assets/images/main/portfolio/8.png")
