section.block-services
	h2 Услуги компании
	.break-line
	.block-services__body
		+block-services-item(1, "Комплексный интернет-маркетинг", "color-violet")
		+block-services-item(2, "Web-разработка", "color-bluegreen")
		+block-services-item(3, "Реклама в интернете", "color-yellow")
		+block-services-item(4, "Администрирование сайта", "color-green")
		+block-services-item(5, "Фирменный стиль", "color-siren")
		+block-services-item(6, "Управление репутацией", "color-red")
		+block-services-item(7, "Брендбук", "color-green")
		+block-services-item(8, "Реклама в СМИ", "color-red")
		+block-services-item(9, "Поисковое продвижение", "color-siren")
		+block-services-item(10, "Рекламное сопровождение", "color-bluegreen")
		+block-services-item(11, "Упаковка", "color-violet")
		+block-services-item(12, "Наружная реклама", "color-yellow")
	button.btn.btn-red Все услуги
