section.block-complecs
	h2 Комплексные решения
	.break-line
	.block-complecs__body
		.block-complecs__item.red-item
			.block-complecs__item__img
				img(src="assets/images/main/complecs/1.png")
			.block-complecs__item__info
				h3 Интернет-магазин
				ul
					li Разработка интернет-магазина
					li E-mail-маркетинг - SEO-продвижение
				.block-complecs__item__info__icons
					a.icon-shop
					a.icon-mail
					a.icon-arrow
		.block-complecs__item.bluegreen-item
			.block-complecs__item__img
				img(src="assets/images/main/complecs/2.png")
			.block-complecs__item__info
				h3 Продающий сайт
				ul
					li 4 месяца SEO-подвижения
					li Сайт в подарок
				.block-complecs__item__info__icons
					a.icon-arrow
					a.icon-gift
		.block-complecs__item.yellow-item
			.block-complecs__item__img
				img(src="assets/images/main/complecs/3.png")
			.block-complecs__item__info
				h3 Продающая страница
				ul
					li Разработка лендинга
					li Контекстная реклама в Яndex и Google
				.block-complecs__item__info__icons
					a.icon-window
					a.icon-yandex
