.feedback
	max-width 400px
	position relative
	display flex
	flex-flow row wrap
	justify-content space-between
	input,
	textarea
		background #ecf0f1
		border none
		border-radius 5px
		padding 10px 20px
		line-height 1.5
		margin-bottom 5px
		color #8e8e8e
	&__name
		width 100%
	&__message
		width 100%
	&__email,
	&__phone
		width 48.5%
	&__email
		margin-right 5px
	&__phone
		margin-left 5px
	.btn
		line-height 40px
		padding 0 30px
		border-radius 20px
		color #fff
		margin-left auto
		margin-right auto
		margin-bottom 0
		margin-top 20px
