.wide-content
	max-width 1645px
	width 100%
	margin 0 auto
	padding 0 12px
h2
	font-size 30px
	color #61676b
.break-line
	width 64px
	height 4px
	background url("../images/main/points.png")
	margin 20px auto
.btn
	background none
	border none
	line-height 40px
	padding 0 30px
	border-radius 20px
	color #fff
	&.btn-red
		background #ec4b52
	&.btn-bluegreen
		background #75c7b1
::-webkit-input-placeholder
	color #8e8e8e
::-moz-placeholder
	color #8e8e8e
:-ms-input-placeholder
	color #8e8e8e
:-moz-placeholder
	color #8e8e8e
