section.att-to-know
	h2 Важно знать
	.break-line
	p Фирменный стиль, помимо логотипа, может включать в себя дизайн фирменных бланков, папок, визиток, конвертов, упаковочной продукции.
	p Объем работ и стоимость в каждом конкретном случае определяется индивидуально.
	p.att-to-know__cost Стоимость разработки логотипа от
		span  15 000 руб.
