section.process
	h2 Процесс работы
	.break-line
	section.process__first-block
		.process__first-block__body.process__body
			.process__body__top
				p Определение стратегии и концепции компании
				p Визуальное решение
				p Разработка элементов фирменного стиля
			.process__body__middle
				p 1
				p 2
				p 3
				p 4
				p 5
				p 6
				p 7
			.process__body__bottom
				p Подготовка
					span (сбор информации, заполнение Брифа от заказчика)
				p Проработка концепции
				p Разработка логотипа
				p Брендбук
