section.services-main
	.services-main__item
		.services-main__item__info.complecs
			h3 Комплексный
				span интернет-маркетинг
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги при наведении
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги в одну срочку
		.services-main__item__img
			img(src="")
	.services-main__item
		.services-main__item__info.web
			h3 WEB-разработка
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги при наведении
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги в одну срочку
		.services-main__item__img
			img(src="")
	.services-main__item
		.services-main__item__info.complecs
			h3 Комплексный
				span интернет-маркетинг
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги при наведении
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги в одну срочку
		.services-main__item__img
			img(src="")
	.services-main__item
		.services-main__item__info.adv
			h3 Реклама
				span в интернете
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги при наведении
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги в одну срочку
		.services-main__item__img
			img(src="")
	.services-main__item
		.services-main__item__info.admin
			h3
				span Администрирование
				|  сайта
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги при наведении
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги в одну срочку
		.services-main__item__img
			img(src="")
	.services-main__item
		.services-main__item__info.audit
			h3 Аудит сайта
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги при наведении
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги в одну срочку
		.services-main__item__img
			img(src="")
	.services-main__item
		.services-main__item__info.reputation
			h3 Управление
				span репутацией
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги при наведении
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги в одну срочку
		.services-main__item__img
			img(src="")
	.services-main__item
		.services-main__item__info.adv-smi
			h3 Реклама в СМИ
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги при наведении
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги в одну срочку
		.services-main__item__img
			img(src="")
	.services-main__item
		.services-main__item__info.suvenirs
			h3
				span Сувенирная
				| продукция
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги при наведении
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги в одну срочку
		.services-main__item__img
			img(src="")
	.services-main__item
		.services-main__item__info.polig
			h3 Полиграфия
				span и печать
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги при наведении
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги в одну срочку
		.services-main__item__img
			img(src="")
	.services-main__item
		.services-main__item__info.adv-out
			h3
				span Наружная
				| реклама
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги при наведении
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги в одну срочку
		.services-main__item__img
			img(src="")
	.services-main__item
		.services-main__item__info.indoor
			h3 Indoor реклама
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги при наведении
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги в одну срочку
		.services-main__item__img
			img(src="")
	.services-main__item
		.services-main__item__info.adv-meh
			h3 Реклама
				span на транспорте
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги при наведении
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги в одну срочку
		.services-main__item__img
			img(src="")
	.services-main__item
		.services-main__item__info.style
			h3
				span Фирменный
				| стиль
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги при наведении
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги в одну срочку
		.services-main__item__img
			img(src="")
	.services-main__item
		.services-main__item__info.brendbook
			h3 Брендбук
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги при наведении
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги в одну срочку
		.services-main__item__img
			img(src="")
	.services-main__item
		.services-main__item__info.search
			h3 Поисковое
				span продвижение
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги при наведении
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги в одну срочку
		.services-main__item__img
			img(src="")
	.services-main__item
		.services-main__item__info.pack
			h3 Упаковка
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги при наведении
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги в одну срочку
		.services-main__item__img
			img(src="")
	.services-main__item
		.services-main__item__info.adv-help
			h3 Рекламное
				span сопровождение
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги при наведении
			a(href="/") Название услуги в одну срочку
			a(href="/") Название услуги
			a(href="/") Название услуги в одну срочку
		.services-main__item__img
			img(src="")
