section.compl-im
	.compl-im__body
		.compl-im__body__row
			p.color-bluegreen СЕО
		.compl-im__body__row
			p.color-violet Видеоролики
			p.color-yellow Контекстная реклама
		.compl-im__body__row
			p.color-green Мобильная реклама
			p Комплексный интернет-маркетинг
			p.color-violet Реклама в соц. сетях SMM
		.compl-im__body__row
			p.color-red Медийная реклама
			p.color-green E-mail маркетинг
		.compl-im__body__row
			p.color-yellow Реклама на досках объявлений
