section.adv-main.section-gray.section-color-bluegreen
	.adv-main__part.adv-main__img
		img(src="")
	.adv-main__part.adv-main__info
		h3 СЕО
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et
		p
			span Для кого:
			|  строительство, сферы услуг, сайт под “баном”
		p
			span Что входит:
			|  этап 1 > этап 2 > этап 3 > этап 4
		p
			span Обычно используют с:
			em Администрирование сайта
			em Продвижение в интернете
			em web разработка
	.adv-main__plus
section.adv-main.section-color-violet
	.adv-main__part.adv-main__info
		h3 Контекстная реклама
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et
		p
			span Для кого:
			|  строительство, сферы услуг, сайт под “баном”
		p
			span Что входит:
			|  этап 1 > этап 2 > этап 3 > этап 4
		p
			span Обычно используют с:
			em Администрирование сайта
			em Продвижение в интернете
			em web разработка
	.adv-main__part.adv-main__img
		img(src="")
	.adv-main__plus
section.adv-main.section-gray.section-color-siren
	.adv-main__part.adv-main__img
		img(src="")
	.adv-main__part.adv-main__info
		h3 Реклама в соц. сетях SMM
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et
		p
			span Для кого:
			|  строительство, сферы услуг, сайт под “баном”
		p
			span Что входит:
			|  этап 1 > этап 2 > этап 3 > этап 4
		p
			span Обычно используют с:
			em Администрирование сайта
			em Продвижение в интернете
			em web разработка
	.adv-main__plus
section.adv-main.section-color-green
	.adv-main__part.adv-main__info
		h3 E-mail маркетинг
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et
		p
			span Для кого:
			|  строительство, сферы услуг, сайт под “баном”
		p
			span Что входит:
			|  этап 1 > этап 2 > этап 3 > этап 4
		p
			span Обычно используют с:
			em Администрирование сайта
			em Продвижение в интернете
			em web разработка
	.adv-main__part.adv-main__img
		img(src="")
	.adv-main__plus
section.adv-main.section-gray.section-color-yellow
	.adv-main__part.adv-main__img
		img(src="")
	.adv-main__part.adv-main__info
		h3 Реклама на досках объявлений
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et
		p
			span Для кого:
			|  строительство, сферы услуг, сайт под “баном”
		p
			span Что входит:
			|  этап 1 > этап 2 > этап 3 > этап 4
		p
			span Обычно используют с:
			em Администрирование сайта
			em Продвижение в интернете
			em web разработка
	.adv-main__plus
section.adv-main.section-color-red
	.adv-main__part.adv-main__info
		h3 Медийная реклама
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et
		p
			span Для кого:
			|  строительство, сферы услуг, сайт под “баном”
		p
			span Что входит:
			|  этап 1 > этап 2 > этап 3 > этап 4
		p
			span Обычно используют с:
			em Администрирование сайта
			em Продвижение в интернете
			em web разработка
	.adv-main__part.adv-main__img
		img(src="")
	.adv-main__plus
section.adv-main.section-gray.section-color-siren
	.adv-main__part.adv-main__img
		img(src="")
	.adv-main__part.adv-main__info
		h3 Мобильная реклама
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et
		p
			span Для кого:
			|  строительство, сферы услуг, сайт под “баном”
		p
			span Что входит:
			|  этап 1 > этап 2 > этап 3 > этап 4
		p
			span Обычно используют с:
			em Администрирование сайта
			em Продвижение в интернете
			em web разработка
	.adv-main__plus
section.adv-main.section-color-violet
	.adv-main__part.adv-main__info
		h3 Видеоролики
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et
		p
			span Для кого:
			|  строительство, сферы услуг, сайт под “баном”
		p
			span Что входит:
			|  этап 1 > этап 2 > этап 3 > этап 4
		p
			span Обычно используют с:
			em Администрирование сайта
			em Продвижение в интернете
			em web разработка
	.adv-main__part.adv-main__img
		img(src="")
	.adv-main__plus.eqv
section.adv-main-compl
	h3 Комплексный
		br
		| интернет-маркетинг
	p Тут будет ссылка на Комплексный интернет-маркетингLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
	a(href="/") Давайте разработаем стратегию
