extends ../layouts/default

block head
	title ADV - клуб

block header
	h1 ADV - клуб

block content
	include ../blocks/header
	include ../blocks/adv-club/block-publication-adv-club
	include ../blocks/main/block-contacts
