extends ../layouts/default

block head
	title Контакты

block header
	h1 Контакты

block content
	include ../blocks/header
	include ../blocks/contacts/block-map-feedback
	include ../blocks/contacts/block-bank
