extends ../layouts/default

block head
	title Index

block header
	h1 рекламное агентство «развитие»
		p Решения, приносящие прибыль.

block content
	include ../blocks/header-main
	include ../blocks/main/block-how-we-work
	include ../blocks/main/block-portfolio
	include ../blocks/main/block-services
	include ../blocks/main/block-complecs
	include ../blocks/main/block-reviews
	include ../blocks/main/block-contacts
