extends ../layouts/default

block head
	title Новости компании

block header
	h1 Новости компании

block content
	include ../blocks/header
	include ../blocks/news/block-news-main

	include ../blocks/main/block-contacts
