extends ../layouts/default

block head
	title Название проекта

block header
	h1 Название проекта

block content
	include ../blocks/header
	include ../blocks/portfolio/block-project-main
	include ../blocks/portfolio/block-project-form-order

	include ../blocks/main/block-contacts
