extends ../layouts/default

block head
	title Наши проекты

block header
	h1 Наши проекты

block content
	include ../blocks/header
	include ../blocks/portfolio/block-list
	include ../blocks/main/block-portfolio
	include ../blocks/block-more

	include ../blocks/main/block-contacts
