extends ../layouts/default

block head
	title

block header
	h1
		p

block content
	include ../blocks/header
	include ../blocks/reviews/block-reviews-main
	include ../blocks/block-more

	include ../blocks/main/block-contacts
