extends ../layouts/default

block head
	title Разработка логотипа и фирменного стиля

block header
	h1 Разработка логотипа и фирменного стиля
		p Корпоративная айдентика. Брендинг для Вашего бизнеса

block header-under-line
	include ../blocks/services/header-nav-form-style

block content
	include ../blocks/header
	include ../blocks/main/block-portfolio
	include ../blocks/services/form-style/block-process
	include ../blocks/services/form-style/attention-to-know

	include ../blocks/main/block-contacts
