extends ../layouts/default

block head
	title Реклама в интернете

block header
	h1 Реклама в интернете

block header-under-line
	include ../blocks/services/header-nav

block content
	include ../blocks/header
	include ../blocks/services/bred/block-about-service
	include ../blocks/services/bred/block-advantages
	include ../blocks/services/bred/block-hww-road
	include ../blocks/services/bred/block-result
	include ../blocks/services/bred/block-we-did-it
	include ../blocks/services/bred/block-promotion-type
	include ../blocks/services/bred/block-promotion-sectors
	include ../blocks/services/bred/block-private-manager
	include ../blocks/main/block-reviews

	include ../blocks/main/block-contacts
