extends ../layouts/default

block head
	title Услуги

block header
	h1 Услуги

block content
	include ../blocks/header
	include ../blocks/services/services/block-text
	include ../blocks/services/services/block-services-main

	include ../blocks/main/block-contacts
