extends ../layouts/default

block head
	title Увеличение продаж Нева Куверт

block header
	h1 Здесь заголовок Увеличение продаж Нева Куверт
	img(src="")

block header-under-line
	p С 2009г по настоящее время

block content
	include ../blocks/header
	include ../blocks/skins/neva-kuvert/block-about-client
	include ../blocks/skins/neva-kuvert/block-situation-before
	include ../blocks/skins/neva-kuvert/block-main-tasks
	include ../blocks/skins/neva-kuvert/block-process
	include ../blocks/skins/neva-kuvert/block-develop-include
	include ../blocks/skins/neva-kuvert/block-results
	include ../blocks/skins/neva-kuvert/block-strategy-develop
	include ../blocks/skins/Ermika/block-review

	include ../blocks/main/block-contacts
