extends ../layouts/default

block head
	title Текстиль Хаус

block header
	h1 Здесь заголовок Текстиль Хаус
	img(src="")

block header-under-line
	p С 2009 года по настоящее время

block content
	include ../blocks/header
	include ../blocks/skins/tekstil-house/block-about-client
	include ../blocks/skins/tekstil-house/block-situation-before
	include ../blocks/skins/tekstil-house/block-main-tasks
	include ../blocks/skins/tekstil-house/block-process
	include ../blocks/skins/tekstil-house/block-results
	include ../blocks/skins/tekstil-house/block-strategy-develop
	include ../blocks/skins/Ermika/block-review

	include ../blocks/main/block-contacts
