extends ../layouts/default

block head
	title Увеличение продаж Эрмика

block header
	h1 Здесь заголовок Увеличение продаж Эрмика
	img(src="")

block header-under-line
	p С февраля 2015 года по настоящее время

block content
	include ../blocks/header
	include ../blocks/skins/Ermika/block-about-client
	include ../blocks/skins/Ermika/block-situation-before
	include ../blocks/skins/Ermika/block-main-tasks
	include ../blocks/skins/Ermika/block-process
	include ../blocks/skins/Ermika/block-results
	include ../blocks/skins/Ermika/block-strategy-develop
	include ../blocks/skins/Ermika/block-review

	include ../blocks/main/block-contacts
