extends ../layouts/default

block head
	title Увеличение продаж Мебель Маркет

block header
	h1 Здесь заголовок Увеличение продаж Мебель Маркет
	img(src="")

block header-under-line
	p С июля 2012г по настоящее время

block content
	include ../blocks/header
	include ../blocks/skins/market/block-about-client
	include ../blocks/skins/market/block-situation-before
	include ../blocks/skins/market/block-main-tasks
	include ../blocks/skins/market/block-process
	include ../blocks/skins/market/block-visitors
	include ../blocks/skins/market/block-results
	include ../blocks/skins/market/block-strategy-develop
	include ../blocks/skins/Ermika/block-review

	include ../blocks/main/block-contacts
