extends ../layouts/default

block head
	title Увеличение продаж Лемминкяйнен

block header
	h1 Здесь заголовок Увеличение продаж Лемминкяйнен
	img(src="")

block header-under-line
	p С ноября 2015 года по настоящее время

block content
	include ../blocks/header
	include ../blocks/skins/lemmin/block-about-client
	include ../blocks/skins/lemmin/block-situation-before
	include ../blocks/skins/lemmin/block-main-tasks
	include ../blocks/skins/lemmin/block-process
	include ../blocks/skins/lemmin/block-results
	include ../blocks/skins/lemmin/block-strategy-develop
	include ../blocks/skins/Ermika/block-review

	include ../blocks/main/block-contacts
