extends ../layouts/default

block head
	title Типовая страница

block header
	h1 Типовая страница

block content
	include ../blocks/header
	include ../blocks/type-page-main-block

	include ../blocks/main/block-contacts
