nav.navigation-block
	ul
		li
			a(href="/", title="") Компания
		li
			a(href="/", title="") Услуги
		li
			a(href="/", title="") Портфолио
		li
			a(href="/", title="") Решения
		li
			a(href="/", title="") ADV - клуб
		li
			a(href="/", title="") Новости
		li
			a(href="/", title="") Отзывы
		li
			a(href="/", title="") Контакты
