footer
	section.pre-footer
		.pre-footer__part
			.pre-footer__part__photo-block
				.pre-footer__part__photo-block__item
					img(src="")
				.pre-footer__part__photo-block__item
					img(src="")
				.pre-footer__part__photo-block__item
					img(src="")
				.pre-footer__part__photo-block__item
					img(src="")
				.pre-footer__part__photo-block__item
					img(src="")
				.pre-footer__part__photo-block__item
					img(src="")
				.pre-footer__part__photo-block__item
					img(src="")
				.pre-footer__part__photo-block__item
					img(src="")
				.pre-footer__part__photo-block__item
					img(src="")
				.pre-footer__part__photo-block__item
					img(src="")
				.pre-footer__part__photo-block__item
					img(src="")
				.pre-footer__part__photo-block__item
					img(src="")
		.pre-footer__part
			.pre-footer__part__articles-block
				.pre-footer__part__articles-block__article
					p Основные ошибки при написании SEO-текстов и способы их избежать
					time(datetime="12-05-2015") 12.05.2015
					a(href="/") подробнее
				.pre-footer__part__articles-block__line
				.pre-footer__part__articles-block__article
					p Основные ошибки при написании SEO-текстов и способы их избежать
					time(datetime="12-05-2015") 12.05.2015
					a(href="/") подробнее
				button.btn.btn-red Все статьи
			.pre-footer__part__navigation
				.pre-footer__part__navigation__column
					a(href="/") Продвижение в интернете
					a(href="/") Реклама в СМИ
					a(href="/") Администрирование сайта
					a(href="/") Полиграфия и печать
					a(href="/") Аудит сайта
					a(href="/") Indoor реклама
				.pre-footer__part__navigation__column
					a(href="/") Реклама на транспорте
					a(href="/") Web-разработка
					a(href="/") Сувенирная продукция
					a(href="/") Реклама в интернете
					a(href="/") Управление репутацией
					a(href="/") Наружная реклама
	.footer-body
		.footer-body__content
			p.footer-body__content__copyright © РА Развитие 2015 г
			a(href="#topUrl").go-top
			.social-block
				a(href="/").social-block__inst
				a(href="/").social-block__linin
				a(href="/").social-block__fb
				a(href="/").social-block__tumblr
				a(href="/").social-block__twitter
				a(href="/").social-block__google
