header(style="background-image: url(assets/images/main/bg-main-header.png)").main-header
	.header-top-block
		.wide-content
			.logo
				img(src="assets/images/main/logo.png", alt="")
				div
					p 8
						span  812
						|  702 82 22
					a(href="mailto: info@raz-vitie.ru") info@raz-vitie.ru
			.search
				input(type="text")

	block header


	include block-navigation
