.mobile-menu
	a.mobile-menu__arrow
	ul
		li
			a(href="") Компания
		li
			a(href="") Услуги
		li
			a(href="") Портфолио
		li
			a(href="") Решения
		li
			a(href="") ADV - клуб
		li
			a(href="") Новости
		li
			a(href="") Отзывы
		li
			a(href="") Контакты
