//if lt IE 9
	<script src="assets/scripts/html5shiv-printshiv.js"></script>
	<script src="assets/scripts/respond.min.js"></script>

script(src='assets/scripts/libs/jquery/dist/jquery.min.js')
script(src='assets/scripts/libs/jquery.csssr.validation/jquery.csssr.validation.js')

script(src='assets/scripts/common.js')
