section.type-page
	.type-page__body
		h3 Заголовок
		p Медиа-монстр TNS проанализировал, к чему склонны жители РФ в использовании поисковых систем. Под пристальное внимание попали крупные города с населением больше 700 тысяч человек. Возрастная категория пользователей — 12-64 года.
		h5 Интернет в массы
		p Согласно итогам исследования, 82 миллиона наших сограждан посещают Всемирную паутину раз в месяц, не реже. В данную аудиторию входят 66 % россиян от 12 лет. В столице 42 % владельцев смартфонов посещают различные сайты, соцсети каждый день.
			br
			| В июле нынешнего года с мобильных устройств гугловскими сервисами воспользовались 14,2 миллиона россиян. С ПК — 15 млн. FB добился показателей в 6,9 и 7,2 миллиона соответственно.
			br
			| Google пользуется популярностью у аудитории со смартфонами и планшетами. В феврале мобильными сервисами холдинга воспользовались 13,5 млн соотечественников. Практически 50 % из них выходит в Сеть не реже чем через день. Специалисты считают, что на популярность сервисов повлияло внедрение голосовых команд и поиска, общее упрощение работы.
		h5 VK лидирует
		p Владельцы «стационарных» и мобильных гаджетов посещают Facebook около 1-2 раз в 30 дней. Мобильные же юзеры VK заходят в социальную сеть хотя бы 1 раз в 2 дня. Это наивысший показатель среди популярных интернет-ресурсов.
			br
			| FB и Гугл сумели уменьшить промежуток между числом пользователей десктопной и мобильной версий. Однако у других ресурсов наблюдается существенный разрыв:
			br
			| VK: 12 и 14,7 млн;
			br
			| Яндекс: 12 и 17 млн;
			br
			| Мой мир: 9,3 и 15,9 млн.
		p Стоит отметить, что большинство приложений Google были предустановлены на гаджетах с платформой Android. Федеральная антимонопольная служба Российской Федерации 14 сентября 2015 года сообщила, что компания действует с нарушением закона о конкуренции.
