section.about-client
	h2 О клиенте
	.break-line
	p "Нева Куверт" - совместное российско-германское производство, образованное в 2002 году на базе старейшей в городе фабрики по производству бумажно-беловой продукции. Петербургское производство является одним из крупнейших в России. Компания специализируется изготовлению любых видов конвертов, печати на них, услуги по резке, полиграфические услуги.
