section(style="background-image: url();").situation-before
	h2 Ситуация до сотрудничества
	.break-line
	p На момент обращения у клиента уже был сайт. Необходимо было постоить канал привлечение клиентов через интернет.
