section.work-process
	h2 Процесс работы
	.break-line
	.work-process__body
		.work-process__body__top
			p
				span В 2011 году
				|  был переделан сайт, расширено семантическое ядро. В B2B сегмент.
			p Реорганизован раздел
				span  "Портфолио"
				|  , что позволило увеличить конверсию в заявки от потенциальных клиентов
			p Была подготовлена вторая версия основного сайта для продвижения в Казахстане.
		.work-process__body__middle
			p 1
			p 2
			p 3
			p 4
			p 5
			p 6
			p 7
		.work-process__body__bottom
			p Была настроена и запущена
				span  контекстная реклама,
				|  а также SEO продвижение сайта
				| по наиболее
				| эффективным ключевым словам.
			p На сайте был реализован
				span  калькулятор
				|  расчета стоимости.
				| Простой и удобный дизайн
				| позволяет посетителям
				| быстро ориентироваться
				| в услугах компании "Нева Куверт".
			p
				span Разработано 2 сайта:
				|  http://rukispb.ru/ и http://www.rez-ka.ru/
				| по дополнительным направлениям
				| деятельности компании.
				| Запущено SEO продвижение
				| по этим сайтам ним.
			p
				span Постоянный анализ
				|  и улучшение "продащих"
				| качеств сайта
