section.short-period
	h2 Результаты, которые выделяются
	.break-line
	p Вводный текст. Мы видим свою задачу в том, чтобы разработать для клиента стратегию с оптимальными затратами, которая принесёт максимальную прибыль.
	.short-period__body
		.short-period__body__item
			p.short-period__body__item__header
				span Доля посетителей из поисковых систем
				| более 50%
			img(src="")
		.short-period__body__item
			p.short-period__body__item__header
				span Посещаемость
				| от 115 человек в день
			img(src="")
		.short-period__body__item
			p.short-period__body__item__header Конверсия 5,89%
			img(src="")
			p 5,89%
		.short-period__body__item
			p.short-period__body__item__header 131 целевой запрос
				span в ТОП 10 поисковых систем.
			img(src="")
