section.dev-inc
	h2 Разработка нового сайта включала в себя
	.break-line
	.dev-inc__body
		.dev-inc__body__item
			img(src="")
			p Существенно увеличена
				span  доля рынка
				|  в Санкт-Петербурге и Северо-Западном регионе в целом.
		.dev-inc__body__item
			img(src="")
			p
				span Увеличена конверсия сайта,
				|  величина среднего чека.
		.dev-inc__body__item
			img(src="")
			p
				span Повышена узнаваемость бренда
				|  и увеличено количество контактов.
		.dev-inc__body__item
			img(src="")
			p
				span Разработка и продвижение
				|  rukispb.ru и www.rez-ka.ru позволило привлечь еще больше клиентов по отдельным направлениям деятельности компании.
