section.hww-road
	h2 Как мы работаем?
	.break-line
	.hww-road__body
		.hww-road__body__analysis
			h5 Анализ
			p Здесь краткий текст, соответсвующий заголовку, занимает 2-4 строки
		.hww-road__body__purposes
			h5 Цели и задачи
			p Здесь краткий текст, соответсвующий заголовку, занимает 2-4 строки
		.hww-road__body__strategy
			h5 Формирование стратегии
			p Здесь краткий текст, соответсвующий заголовку, занимает 2-4 строки
		.hww-road__body__result
			h5 Результат
			p Здесь краткий текст, соответсвующий заголовку, занимает 2-4 строки
			a(href="/") смотреть результат
		.hww-road__body__implementation
			h5 Реализация
			p Здесь краткий текст, соответсвующий заголовку, занимает 2-4 строки
