section.private-manager
	h2 Личный менеджер проекта
	.break-line
	p Вводный текст. Мы видим свою задачу в том, чтобы разработать для клиента стратегию с оптимальными затратами, которая принесёт максимальную прибыль.
	.private-manager__body
		.private-manager__body__item
			img(src="")
		.private-manager__body__item
			h5 Имя Фамилия
			p менеджер проекта
			a.private-manager__body__item__phone(href="tel: 88127028222") 8 812 702 82 22
			a.private-manager__body__item__email(href="mailto: info@raz-vitie.ru") info@raz-vitie.ru
