section.result
	h2 Результат
	.break-line
	.result__body
		.result__body__item
			img(src="")
			h5 посещаемость
			p Именно Ваша целевая аудитория
		.result__body__line
		.result__body__item
			img(src="")
			h5 узнаваемость
			p Репутация и узнаваемость бренда
		.result__body__line
		.result__body__item
			img(src="")
			h5 продажи
			p Увеличение объёма продаж
		.result__body__line
		.result__body__item
			img(src="")
			h5 прибыль
			p Увеличение прибыли
