section.work-process
	h2 Процесс работы
	.break-line
	.work-process__body
		.work-process__body__top
			p
				span В 2011 году
				|  был переделан сайт, расширено семантическое ядро. В B2B сегмент.
			p
				span 1 октября 2014 года
				|  был запущен полностью обновленный сайт, который на данный момент привлекает около 1000 посетителей в день.
		.work-process__body__middle
			p 1
			p 2
			p 3
			p 4
			p 5
		.work-process__body__bottom
			p
				span 2009-2010 год
				|  Начало продвижение сайта
				| по ключевым запросам,
				| ориентированных на розничные
				| продажи. Параллельно
				| внесение доработок по сайту.
			p
				span В 2012 году
				|  сайт
				| был перенесен на 1С Битрикс
				| и выполнена синхронизация
				| с 1С. Также были изменены
				| некоторые элементы в дизайне
				| сайта. Дополнительно была
				| настроена контекстная реклама.
			p
				span С апреля 2015 года
				|  ведутся работы по e-mail
				| маркетингу, что позволило
				| увеличить оборот на 35%.
	img(src="").work-process__plus
	p.work-process__text-under Постоянные работы по улучшению удобства использования сайта и повышению конверсии.
