section.main-tasks
	h2 Основные задачи
	.break-line
	.main-tasks__body
		.main-tasks__body__item
			img(src="")
			h6 Выход на B2B: привлечение оптовых клиентов и дилеров
		.main-tasks__body__item
			img(src="")
			h6 Повысить узнаваемость бренда
		.main-tasks__body__item
			img(src="")
			h6 Бесперебойный поток клиентов из интернета
		.main-tasks__body__item
			img(src="")
			h6 Увеличение розничных продаж
