section(style="background-image: url();").situation-before
	h2 Ситуация до сотрудничества
	.break-line
	p На момент обращения у клиента был старый, не очень удобный сайт. Посещаемость сайта была крайне низкой. Основным направлением были розничные продажи. Главная задача – увеличение продаж путем привлечения посетителей на сайт.
