section.attention
	h2 Важно знать
	.break-line
	p.attention__info Брендбук создаётся на основе элементов фирменного стиля;
		br
		| Стоимость разработки
		span  только брендбука
		|  составляет 50% от стоимости фирменного стиля
