section.process
	h2 Ход работы
	.break-line
	p.color-grey Разработка брендбука производится в комплексе с остальными этапами:
	section.process__first-block
		p.process__header 1. Позиционирование бренда
		.process__first-block__body.process__body
			.process__body__top
				p Построение платформы
				p Анализ трендов и конкурентов
				p Формирование стратегии развития
			.process__body__middle
				p 1
				p 2
				p 3
				p 4
				p 5
				p 6
				p 7
			.process__body__bottom
				p Проведение исследований с оптимальной выборкой
				p Позиционирование
				p Определение ключевых ценностей
				p Создание стратегии коммуникации с потребителями
	section.process__second-block
		p.process__header 2. Визуальная идентификация
		.process__second-block__body.process__body
			.process__body__top
				p Проверка логотипа на уникальность в Роспатент для регистрации в качестве торгового знака
					span  (или знака обслуживания)
				p Разработка макетов дизайна деловой документации
				p Оформление корпоративного транспорта
				p Оформление выставочных средств и POS-материалов
			.process__body__middle
				p 1
				p 2
				p 3
				p 4
				p 5
				p 6
				p 7
				p 8
				p 9
			.process__body__bottom
				p Создание концепции логотипа и визуальной идентификации бренда
				p Определение базовых констант
					span (цвета, шрифты, стилизующие графические элементы, паттерны, узоры, наборы пиктограмм, иконок, инфографика)
				p Разработка дизайна наружного и интерьерного оформления
				p Оформление одежды и униформы
				p Разработка дизайна упаковочной продукции, оформлении сувенирной продукции и дизайна электронных презентаций
	section.process__third-block
		p.process__header 3. Рекламная коммуникация
		.process__third-block__body.process__body
			.process__body__top
				p Формирование библиотеки собственных изображений
					span (фотосъёмка, 3D-моделирование, иллюстрация)
				p Разработка макетов дизайна для наружных средств
			.process__body__middle
				p 1
				p 2
				p 3
				p 4
			.process__body__bottom
				p Создание ключевых сообщений
					span  (key message),
					|  образов и сюжетов
					span  (key visual)
				p Разработка дизайна полиграфической продукции и маркетинговых материалов
			p.process__body__text-after * Состав услуг по разработке брендбука может меняться в зависимости от специфики деятельности, задачи и масштаба бизнеса.
