section.advantages
	h2 Преимущества
	.break-line
	.advantages__body
		.advantages__body__item
			h4.color-violet Красивый дизайн
			p Чтобы из целевых посещений вы получали максимум обращений, мы оптимизируем структуру сайта и улучшаем контент на посадочных страницах.
		.advantages__body__item
			h4.color-bluegreen Индивидуальные решения
			p Чтобы из целевых посещений вы получали максимум обращений, мы оптимизируем структуру сайта и улучшаем контент на посадочных страницах.
		.advantages__body__item
			h4.color-yellow Решаем бизнес задачи
			p Чтобы из целевых посещений вы получали максимум обращений, мы оптимизируем структуру сайта и улучшаем контент на посадочных страницах.
