section.project-include
	h2 Что может входить в проект?
	.break-line
	.project-include__body
		.project-include__body__item
			img(src="")
			h5 Нейминг
			p Здесь краткое описание услуги, в 2-4 строчки
		.project-include__body__item
			img(src="")
			h5 Логотип
			p Здесь краткое описание услуги, в 2-4 строчки
		.project-include__body__item
			img(src="")
			h5 Фирменный стиль
			p Здесь краткое описание услуги, в 2-4 строчки
		.project-include__body__item
			img(src="")
			h5 Брендбук
			p Здесь краткое описание услуги, в 2-4 строчки
	.btn-block
		a(href="") Заказать брендбук
